root = true

[*]
charset = utf-8
indent_style = space
indent_size = 4
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[{Makefile, makefile, GNUmakefile}]
indent_style = tab
indent_size = 4

[*.pp]
indent_size = 2
