# Set the default editor
if [ -f /usr/local/bin/subl ]; then
    export EDITOR='subl -w'
elif [ -f /usr/local/bin/mate ]; then
    export EDITOR='mate'
    export GIT_EDITOR='mate -wl1'
else
	export EDITOR="vim"
fi
# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X"
# Highlight section titles in manual pages
export LESS_TERMCAP_md="$ORANGE"

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=32768
export HISTFILESIZE=$HISTSIZE
export HISTCONTROL=ignoredups

# Fix psycopg2 on 10.7.3
export PGHOST=/tmp

# no ._ files in archives please
export COPYFILE_DISABLE=true

export NODE_PATH=/usr/local/lib/node_modules:$NODE_PATH

export TZ='Europe/Brussels'