#!/usr/bin/env bash

function ls () {
  /bin/ls -xF "$@" | less -EFmn
}

function l() {
  ls -1 "$@"
}

function ll() {
  ls -lh "$@"
}

function lll() {
  ls -lhA "$@"
}

# Use Git’s colored diff when available
hash git &>/dev/null;
if [ $? -eq 0 ]; then
  function diff() {
    git diff --no-index --color-words "$@";
  }
fi;

# Run `dig` and display the most useful info
function digga() {
  dig +nocmd "$1" any +multiline +noall +answer;
}
