# Automatically normalize line endings for all text-based files
#* text=auto
# Disabled because of https://github.com/mathiasbynens/dotfiles/issues/149 :(

# Declare files that will always have CRLF line endings on checkout.
*.css text eol=crlf
*.html text eol=crlf
*.js text eol=crlf