[submodule ".grunt-init/gruntfile"]
	path = .grunt-init/gruntfile
	url = git@github.com:gruntjs/grunt-init-gruntfile.git
[submodule ".grunt-init/gruntplugin"]
	path = .grunt-init/gruntplugin
	url = git@github.com:gruntjs/grunt-init-gruntplugin.git
[submodule ".grunt-init/node"]
	path = .grunt-init/node
	url = git@github.com:gruntjs/grunt-init-node.git
