##
## Basic options
##


## CGI mode (with correct cgi php binary file name)
# Action php5-cgi /cgi-bin/php5-cgi
# AddHandler php5-cgi .php

## default index file
DirectoryIndex index.php

## Fix character encoding issues from server overrides
# AddDefaultCharset Off
# AddDefaultCharset UTF-8

##
## Access control
##

## By default allow all access
Order allow,deny
Allow from all

## Deny access to dotfiles
<Files ~ "^.">
    Order allow,deny
    Deny from all
</Files>

<Files ~ "^..?$">
    Order allow,deny
    Allow from all
</Files>

##
## Hoster specific options
##

## GoDaddy (you might need cgi.fix_pathinfo = 1 or rename php.ini to php5.ini)
# Options -MultiViews

## 1and1 hosting
# AddType x-mapp-php5 .php
# AddHandler x-mapp-php5 .php

## disable ETags in cluster (http://developer.yahoo.com/performance/rules.html#etags)
# FileETag none

##
## PHP
##
<IfModule mod_php5.c>

    ## adjust memory limit
    # php_value memory_limit 256M
    # php_value max_execution_time 18000

    ## disable magic quotes for php request vars
    # php_flag magic_quotes_gpc off

    ## disable automatic session start before autoload was initialized
    # php_flag session.auto_start off

    ## enable resulting html compression
    # php_flag zlib.output_compression on

    ## disable user agent verification to not break multiple image upload
    # php_flag suhosin.session.cryptua off

    ## turn off compatibility with PHP4 when dealing with objects
    # php_flag zend.ze1_compatibility_mode Off

</IfModule>

##
## Security
##
<IfModule mod_security.c>

    ## disable POST processing to not break multiple image upload
    SecFilterEngine Off
    SecFilterScanPOST Off

</IfModule>

##
## Compression
## http://developer.yahoo.com/performance/rules.html#gzip
##
<IfModule mod_deflate.c>

    ## Insert filter on all content
    #SetOutputFilter DEFLATE

    ## Insert filter on selected content types only
    # AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css text/javascript

    ## Netscape 4.x has some problems...
    # BrowserMatch ^Mozilla/4 gzip-only-text/html

    ## Netscape 4.06-4.08 have some more problems
    # BrowserMatch ^Mozilla/4\.0[678] no-gzip

    ## MSIE masquerades as Netscape, but it is fine
    # BrowserMatch \bMSIE !no-gzip !gzip-only-text/html

    ## Don't compress images
    # SetEnvIfNoCase Request_URI \.(?:gif|jpe?g|png)$ no-gzip dont-vary

    ## Make sure proxies don't deliver the wrong content
    # Header append Vary User-Agent env=!dont-vary

</IfModule>

##
## SSL
##
<IfModule mod_ssl.c>

    ## make HTTPS env vars available for CGI mode
    # SSLOptions StdEnvVars

</IfModule>

##
## Rewrite
##
<IfModule mod_rewrite.c>

    ## enable rewrites
    # Options +FollowSymLinks
    # RewriteEngine on

    ## your root path relative to web root
    # RewriteBase /social-commerce/

    ## workaround for HTTP authorization in CGI environment
    # RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    ## TRACE and TRACK HTTP methods disabled to prevent XSS attacks
    # RewriteCond %{REQUEST_METHOD} ^TRAC[EK]
    # RewriteRule .* - [L,R=405]

    ## redirect for mobile user agents
    # RewriteCond %{REQUEST_URI} !^/mobiledirectoryhere/.*$
    # RewriteCond %{HTTP_USER_AGENT} "android|blackberry|ipad|iphone|ipod|iemobile|opera mobile|palmos|webos|googlebot-mobile" [NC]
    # RewriteRule ^(.*)$ /mobiledirectoryhere/ [L,R=302]

    ## never rewrite for existing files, directories and links
    # RewriteCond %{REQUEST_FILENAME} !-f
    # RewriteCond %{REQUEST_FILENAME} !-d
    # RewriteCond %{REQUEST_FILENAME} !-l

    ## rewrite everything else to index.php
    # RewriteRule .* index.php [L]

</IfModule>

##
## Expires header
## http://developer.yahoo.com/performance/rules.html#expires
##
<IfModule mod_expires.c>

    # ExpiresDefault "access plus 1 year"

</IfModule>
