[submodule "bin/git-friendly"]
	path = bin/git-friendly
	url = https://github.com/jamiew/git-friendly.git
[submodule "fish/functions/pure"]
	path = fish/functions/pure
	url = git@github.com:paulirish/pure.git
