# Add Comment
snippet com
	#-----------------------------------------------------------------------------
	# ${1:Title}
	#-----------------------------------------------------------------------------
	${2}
snippet rdoc
	##
	# ${1:Method description}
	#
	# * *Arguments*
	#   - +name+ → Description
	# * *Raises*
	#   - +exception+ → Description
	# * *Returns*
	#   - Description
	
